<div class="well span3">
    <h4><%= link_to billboard.name, billboard %></h4>
    
    <table class="table table-hover">
     
	      <tr>
	        <td><b>Meine Anzeigen:</b></td>
	      </tr>
	      <% current_user.announcements(billboard).each do |announcement| %>
	         <tr>
	          <td><%= link_to announcement.name, announcement %></td>
	         </tr>
	      <%end%>
     
     
	      <tr>
	        <td><b>Fremde Anzeigen:</b></td>
	      </tr>
	      <% current_user.commented_announcements(billboard).each do |announcement| %>
	         <tr>
	          <td><%= link_to announcement.name, announcement %></td>
	         </tr>
	      <%end%>
	  
    </table>       
</div>