<div class="well" id="billboard-controlls">
	<h3>Schreibe eine Nachricht:</h3>
	<%= simple_form_for(@announcement.comments.build) do |f| %>

	<div class="form-inputs">
		<%= f.input :text ,:label => false, :required => false , :input_html => {:rows => 3, :style=> 'width: 100px'}%>
		<%= f.input :announcement_id , :as => :hidden %>
	</div>

	<%= f.submit "Abschicken" , :class => "btn btn-primary"%>

	<% end %>
</div>