<div class="billboard-controlls well">
  <h4><i class="icon-time icon-white"></i><%= I18n.t("announcements.datetime.label") %></h4>
  <hr/>
  <%= I18n.l @announcement.datetime, :format =>'%d. %B %Y - %H:%M'%>

</div>
