<div class="row">
<div class="well">
<h1>Aushang ändern</h1>

<%= render 'form' %>

</div>

<%= link_to (raw ("<i  class=\"icon-chevron-left\"></i> Abbrechen")), @announcement , :class => "btn"  %>
</div>