
<div class="row">
	<div class="span12">
		<div class="well">
		<h1>Neuer Aushang <i>für <%= @announcement.billboard.name%></i></h1>
		
		<%= render 'form' %>
		
		</div>
		<%= link_to (raw ("<i  class=\"icon-chevron-left\"></i> Abbrechen")), billboard_path(@announcement.billboard) , :class => "btn"  %>
	</div>
</div>