<div class="span12">
		<div class="well">
			<b><%= I18n.t("billboard.name") %></b> <%=@billboard.name%> <br/>
			<b><%= I18n.t("billboard.location") %></b> <%=@billboard.description%><br/>
			
		</div>
</div>
