
<div class="row">
	<div class="span12">
		<%= render 'partial/header' %>
	</div>
	
	<div class="span12">
			<div class="well">
				<%= render '/partial/billboard_detail' %>
			</div>
	</div>
	
	<div class="span12">
			
		<%= link_to (raw ("<i  class=\"icon-chevron-left icon-white\"></i> " + I18n.t("common.home"))), billboards_path, :class => 'btn btn-primary' %>
			
	</div>

</div>
