

<%=link_to image_tag('comic2-transparent.gif',:class=>"span3 pull-right"), activate_form_billboard_path(@billboard)%>

<div class="well">
			<h4>Du bist noch nicht f체r diese Gemeinschaft freigeschalten</h4>
		<p>
			Um dich freizuschalten, musst du zum Aushang der Gemeinschaft gehen und dort den QR-Code einscannen 
			oder den dort ausgeh채ngten Code abschreiben und unter 
			<%= link_to 'Gemeinschaft freischalten', activate_form_billboard_path(@billboard) %> eingeben.
		</p>
		
		<p>Du findest den Aushang mit Hilfe der Karte und folgender Wegbeschreibung:</p>
		
		<p><b><%= @billboard.description%></b></p>
		
		<p>Mehr dazu findest du in den  <a href="/billboards/description">FAQs</a>.</p> 
</div>	
<% if (!current_user || !@billboard.is_activated?(current_user) ) %>
		<%old_dialog = dialog_sent? @billboard.id%>
		<% if !old_dialog %>
			<div class="well">
				<h4>Du wohnst noch nicht in der N채he?</h4>
				<p>
				Du kannst in der Gemeinschaft einen Paten suchen, der dir zum Beispiel helfen kann Aktivit채ten zu erstellen:
				</p><br />
				<b><%= link_to  (raw ("<i  class=\"icon-search icon-white\"></i> Pate suchen")) , godfather_form_billboard_path(@billboard) ,:class => "btn btn-primary"%></b>
			</div>
		<%end%>
<%end%>
