

div.upper_space {
	margin-top: 40px;
}

div.top-part{
	position: absolute;

	
	top: 100px;
	left: 115px;
	height: 350px;
	width: 470px;
}

div.link{
	position: absolute;

	
	top: 450 px;
	left: 115 px;
	height: 250px;
	width:470px;
}

div.qrcode1{
	position: absolute;
	
	top: 670 px;
	left: 115 px;
	height: 200px;
	width: 470px;
}

p.vertical-stub{
	width: 170px;
	writing-mode:tb-rl;
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform: rotate(270deg);
}

div.stub-header{
	position: absolute;
	top: 1025 px;
	left: 30 px;
	height: 70px;
	width:650px;
}

div.powered_by {
	position: fixed;
	
	top: 850 px;
	left: 250 px;
}
