@import "bootstrap.less";
@import "responsive.less";

.billboard-controlls {
  background-color: @navbarInverseBackground;
  color: @navbarInverseText;
}

.comment-form {
  background-color: @infoBackground;
  color: @infoText;
}


/*
 *  Billboard
 * 
 * 
 * 
 */
#billboard-nav-well{
    .border-bottom-radius(0px); 
    margin-bottom: 0px;
    border-bottom-width:0px;
}
