<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Link angefordert, um Ihr Passwort zu ändern, und Sie können das durch den unten aufgeführten Link tun.</p>

<p><%= link_to 'Main Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Wenn Sie das nicht angefordert haben, ignorieren Sie bitte diese E-mail.</p>
<p>Das Passwort wird nicht geändert bis Sie den obenstehenden Link abrufen, und ein neues Passwort bestimmen.</p>
