<div class="row">
	<div class="span12">
		<%= render 'partial/header' %>
	</div>
</div>

<div class="navbar">
  <div class="navbar-inner">
		<ul class="nav">
			<li ><%= link_to "Neue Aktivität", new_announcement_path(:billboard_id => @billboard.id) %></li>
			 <li class="divider-vertical"></li>
			<li >Aktivität suchen</li>
			 <li class="divider-vertical"></li>
			<li >Pate suchen</li>
			 <li class="divider-vertical"></li>
			<li >Pate werden</li>
			 <li class="divider-vertical"></li>
			<li >Gemeinschaft freischalten</li>
			 <li class="divider-vertical"></li>
		</ul>
	</div>
</div>
<%= render 'partial/billboard'%>
