
<ul class="breadcrumb span12">
	<p><li class="active"><b>Willst du vielleicht folgendes machen:</b></li></p>
	
	<li><%= link_to "Neue Aktivität", new_announcement_path(:billboard_id => @billboard.id) %><span class="divider">/</span></li>
	<li>Aktivität suchen<span class="divider">/</span></li>
	<li>Pate suchen<span class="divider">/</span></li>
	<li>Pate werden<span class="divider">/</span></li>
	<li>Gemeinschaft freischalten</li>
	
</ul>