<%if @near_billboards %>
	<% @near_billboards.each do |billboard| %>
		<div class="well span3">
			<b> Aktivitäten</b> auf der Litfaßsäule <b><%= link_to billboard.name, billboard %></b>:
			<br/><br />
			<table class="table table-bordered break-word">
				<% billboard.announcements[0..3].each do |announcement|%>
					<tr>
						<td class="break-word "><b><%= link_to announcement.name, announcement %></b></td>
					</tr>
				<%end%>
			</table>
			<% if request.location %>
	 		<%# <td><%= Geocoder::Calculations.distance_between([request.location.latitude,request.location.longitude],[billboard.latitude,billboard.longitude]).round(1) > km</td>%>
	 		<%else%>
	 		<%end%>
		</div>
	<%end%>
<%end%>
