<%if @near_billboards %>
	<table class="table table-hover">
	<% @near_billboards.each do |billboard| %>
	 <tr>
	 	<td><%= link_to billboard.name, billboard %></td>
	 	<% if request.location %>
	 		<%# <td><%= Geocoder::Calculations.distance_between([request.location.latitude,request.location.longitude],[billboard.latitude,billboard.longitude]).round(1) %> km</td>%>
	 	<%else%>
	 		<td>?</td>
	 	<%end%>
	 </tr>
	<%end%>
	</table>
<%end%>
