
<div.stubs> {
	height: 1012px;
	background-position: left top;
  	background-image: url( 'file:///<%= asset_pathname('community-flyer.png') %>');
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	background-clip:border-box;
  	-webkit-background-clip:border-box;  /* Safari */
}
<div class="stubs">
	
</div>
