<div class="row">

	<%=render '/partial/billboard_nav'%>
	<div class="span6">
		<div class="billboard-controlls well">
		<h3><%= @billboard.name %> beitreten:</h3>
		<p>
			Um selber Aktivitäten anzukündigen, kannst du dieser Gemeinschaft beitreten.
			Dazu musst du zu dem Aushang der Gemeinschaft gehen und entweder mit einem Smartphone den QR-Code einscannen,
			oder den Freischalt-Code notieren und hier eingeben. Den Aushang findest du mithilfe der Karte.
		</p>
		<form class="form-inline" action="billboards/activate">
			<input type="text"  name="key"  value="<%= params["code"]%>" placeholder="Code...">
			<button type="submit" class="btn btn-primary">
				beitreten
			</button>
		</form>	 
		</div>
		<%= link_to (raw ("<i  class=\"icon-chevron-left\"></i> Abbrechen")), billboard_path(@billboard)  , :class => "btn"  %>
	
	</div>
	<div class="span3"></div>
</div>