<div class="row">
	
	<h1> FAQs </h1>
	
	<div class="well">
		<h3>Was ist Demestoa?</h3>
		<p class="justify-content">
			Das Internet hat die Menschen näher zusammengebracht. Doch was ist mit
			den Menschen, die ohnehin schon nahe beieinander waren? Welche Bedeutung
			hat das Internet im Kiez? Wir finden, ziemlich viel. Mit Demestoa kannst
			du dich mit deiner Umgebung vernetzen. Einfach eine Nachricht bei dir im
			Hausflur, an der nächsten Straßenecke oder beim Kulturverein posten. Ob
			du Fußball spielen, eine neue Sprache lernen oder einfach nur Leute
			kennenlernen willst: alle das ist möglich. Mit Demestoa können wir uns
			lokal vernetzen.
		</p>
	</div>
	<div class="well">
		<h3>Wie geht das?</h3>
		<p class="justify-content">
			Eigentlich funktioniert Demestoa nicht anders als die guten alten
			Aushänge an Pinnwänden, schwarzen Brettern, Litfaßsäulen, oder wie die
			Dinger noch heißen. Ein Aushang bei Demestoa ist digital und analog
			zugleich. Du erkennst ihn an dem Demestoa-Logo und einem QR-Code. Ein
			QR-Code sieht ähnlich wie ein Barcode aus. Du kannst ihn mit deinem
			Smartphone abfotografieren. Er führt dich dann zu dem Aushang oder der
			Pinnwand, wo du alle Aushänge sehen kannst. Nur wenn du einen QR-Code
			abfotografiert hast, kann du auch auf die jeweilige Pinnwand schreiben.
			Das klingt kompliziert, aber es ist kinderleicht. Probier's doch einfach
			mal aus!
		</p>
	</div>
	<div class="well">
		<h3>Nur lokal?</h3>
		<p class="justify-content">
			Das wäre ja langweilig. Natürlich ist es auch möglich, sich zwischen
			verschiedenen Kiezen, in verschiedenen Städten oder Ländern zu
			vernetzen. Sucht euch einfach einen Paten vor Ort und schon könnt ihr
			auch dort Aushänge machen. Zum Beispiel vor dem nächsten Urlaub einfach
			mal vor Ort fragen, was so läuft. Oder umgekehrt: übernehmt eine
			Patenschaft für jemanden, der neu in der Stadt ist!
		</p>
		<p> Diese Funktion wird bald zur Verfügung stehen!</p>
	</div>
</div>
