<div class="row">
	<div class="well">
	<h1> FAQs </h1>
	</div>
	<div class="span3">
		
	 	<%= image_tag('comic1.png' , :class =>'span3 img-polaroid')%>
	 	
	 </div>
	 <div class="span1"></div>
	 <div class="span8">
		<div class="well">
			<h3>Was ist Demestoa?</h3>
			<p class="justify-content">
				Das Internet hat die Menschen näher zusammengebracht. Doch was ist mit
				den Menschen, die ohnehin schon nahe beieinander waren? Welche Bedeutung
				hat das Internet im Kiez? Wir finden, ziemlich viel. Mit Demestoa kannst
				du dich mit deiner Umgebung vernetzen. Einfach eine Nachricht bei dir im
				Hausflur, an der nächsten Straßenecke oder beim Kulturverein posten. Ob
				du Fußball spielen, eine neue Sprache lernen oder einfach nur Leute
				kennenlernen willst: alles das ist möglich. Mit Demestoa können wir uns
				lokal vernetzen.
			</p>
		</div>
	</div>
	
	<div class="span3">
	 	<%= image_tag('comic2.jpg' , :class =>'span3 img-polaroid')%>
	 </div>
	 <div class="span1"></div>
	 <div class="span8">
		<div class="well">
			<h3>Wie geht das?</h3>
			<p class="justify-content">
				Eigentlich funktioniert Demestoa nicht anders als die guten alten
				Aushänge an Pinnwänden, schwarzen Brettern, Litfaßsäulen, oder wie die
				Dinger noch heißen. Ein Aushang bei Demestoa ist digital und analog
				zugleich. Du erkennst ihn an dem Demestoa-Logo und einem QR-Code. Ein
				QR-Code sieht ähnlich wie ein Barcode aus. Du kannst ihn mit deinem
				Smartphone abfotografieren. Er führt dich dann zu dem Aushang oder der
				Pinnwand, wo du alle Aushänge sehen kannst. Nur wenn du einen QR-Code
				abfotografiert hast, kann du auch auf die jeweilige Pinnwand schreiben.
				Das klingt kompliziert, aber es ist kinderleicht. Probier's doch einfach
				mal aus!
			</p>
		</div>
	</div>
	<div class="span3">
	 	<%= image_tag('comic3.jpg' , :class =>'span3 img-polaroid')%>
	 </div>
	  <div class="span1"></div>
	 <div class="span8">
		<div class="well">
			<h3>Nur lokal?</h3>
			<p class="justify-content">
				Das wäre ja langweilig. Natürlich ist es auch möglich, sich zwischen
				verschiedenen Kiezen, in verschiedenen Städten oder Ländern zu
				vernetzen. Sucht euch einfach einen Paten vor Ort und schon könnt ihr
				auch dort Aushänge machen. Zum Beispiel vor dem nächsten Urlaub einfach
				mal vor Ort fragen, was so läuft. Oder umgekehrt: übernehmt eine
				Patenschaft für jemanden, der neu in der Stadt ist!
			</p>
			<p> Diese Funktion wird bald zur Verfügung stehen!</p>
		</div>
	</div>
	<div class="span12">
  <div class="well">
    <h3>Alpha</h3><a name="alpha"></a>
    <p class="justify-content">
    Demestoa befindet sich noch in der Alpha-Phase. Das bedeutet, dass du dir gerade 
    eine erste Vorabversion ansiehst. Wir haben aber noch viele Ideen, um Demestoa noch 
    besser zu machen. Deshalb schrauben wir im Hintergrund fleißig weiter. Wenn du uns 
    beim Arbeiten zuschauen willst, schau' mal auf <a href="https://github.com/mxm/prix">GitHub</a> vorbei. 
    Wir hoffen, dass dir Demestoa schon jetzt gefällt und du bald wieder vorbeikommst.
    </p>
  </div>
  </div>
  
  <div class="span12">
  <div class="well">
    <h3>Patenschaft</h3><a name="pate"></a>
    <p class="justify-content">
    	Wenn du gerade umgezogen bist, bald umziehen wirst, oder einfach so in eine neue Stadt kommst, 
    	kannst du dort auf einer beliebigen Litfaßsäule ein Paten-Gesuch erstellen.
    	All Diejenigen, welche auf dieser Litfaßsäule aktiv sind, sehen dieses Paten-Gesuch und können eine Patenschaft mit dir annehmen.
    	Du hast dann die Möglichkeit mit dem Paten zu kommunizieren.
    	Der Pate kann dir bei den verschiedensten Dingen behilflich sein!
    	Also wenn du neu an einen Ort kommst, schau doch einfach mal, ob in deiner nähe eine Litfaßsäule ist, 
    	auf der du ein Paten-Gesuch erstellen kanns...
    </p>
    <p> Diese Funktion ist gerade im Aufbau!</p>
  </div>
  </div>
  
</div>
