      	      	
    <div class="hidden-phone">
    	<%=  link_to "verberge Karte", no_map_index_path %>
    	<%= render 'map_index' %>	
    </div>  	      	
    <div class="visible-phone">
    	<%=  link_to "zeige Karte", map_index_path %>
    </div>
 	
 	<%= render 'list_index' %>