<div class="center-content">
	<h2>Mach mal was Lokales! </h2>
	<br />
</div>

<div class="row">

	<ul class="thumbnails">
		<li class="span4">
			<div class="thumbnail">
				<%= image_tag('activity.jpg')%>

				<div class="caption">
					<h4>Mach was Lokales</h4><hr />
					<p>
						Finde Events, Veranstalltungen oder verschiedensten Aktivitäten.
					</p>
					<br />
					<br /><br />
					<a href="/billboards/search_activity" class="btn btn-primary">Was Lokales machen</a>
				</div>

			</div>
		</li>

		<li class="span4">
			<div class="thumbnail">
				<%= image_tag('sheep.jpg')%>

				<div class="caption">
					<h4>Suche Gemeinschaften</h4><hr />
					<p>
						Finde interessante <a href="/billboards/description#community">Gemeinschaften</a>. <br /><br/>
						
						Bei einer Gemeinschaft kannst du zum Beispiel:
						<ul>
							<li>jegliche Art von Aktivität einstellen</li>
							<li>einen <a href="/billboards/description#pate">Paten</a> suchen</li>
							<li>eine <a href="/billboards/description#pate">Patenschaft</a> annehmen</li>
						</ul>

					</p><br />
					<a href="/billboards/search_billboard" class="btn btn-primary">Gemeinschaft suchen</a>
				</div>

			</div>
		</li>


		<li class="span4">
			<div class="thumbnail">
				<%= image_tag('sheep.jpg')%>

				<div class="caption">
					<h4>Gründe eine Gemeinschaft</h4><hr />
					<p>
						Gibt es in deiner Nachbarschaft noch keine passende <a href="/billboards/description#community">Gemeinschaft</a>? <br /><br />
						Gründe doch eine neue <a href="/billboards/description#community">Gemeinschaft</a>!
					</p>
					<br />
					<br /><br />
					<a href="/billboards/new" class="btn btn-primary">Gemeinschaft gründen</a>
				</div>

			</div>
		</li>
		
	</ul>

</div>

</div>
