
<ul class="breadcrumb">
    <p><li class="active">1. Erstellen<i class="icon-pencil"></i></li></p>
    <p><li>2. Ausdrucken</li></p>
	<p><li>3. Aufhängen</li></p>
	<p><li>4. Fertig</li></p>
</ul>

<%= render 'form' %>

<%= link_to (raw ("<i  class=\"icon-chevron-left icon-white\"></i> Abbrechen")), billboards_path , :class => "btn btn-primary"  %>

