<div class="row">

	<%=render '/partial/billboard_nav'%>

		<div class="span9">
			
			<%=render '/partial/request_activate_text'%>
			
		<%= link_to (raw ("<i  class=\"icon-chevron-left\"></i>  " + I18n.t("common.cancel"))), billboard_path(@billboard) ,:class => "btn"%></br/>
	</div>
</div>
