<div class="row">
	<div class="span12">
		<ul class="breadcrumb">
		    <p><li class="active">1. Was und Wo<i class="icon-pencil"></i></li></p>
		    <p><li>2. Aussuchen</li></p>
			<p><li>3. Mitmachen</li></p>
		</ul>
	</div>
	<div class="span12">
		<div class="well">

			<form>
				<p>
					<h4>Was willst du machen:</h4>
				</p>
				<input type="text" class="search-query" name="what" value="<%= params["what"]%>" >
				<br />
				<p>
					<h4>Wo soll es sein:</h4>
				</p>
				PLZ:
				<input type="integer" class="search-query" name="where" value="<%= params["where"]%>">
				Umkreis:
				<input type="integer" class="search-query" name="around" value="<%= params["around"]%>"> km
				
				<br /><br />
				
				<button type="submit" class="btn">
					suchen
				</button>
				
			</form>		
		</div>
	</div>
</div>


<%= link_to (raw ("<i  class=\"icon-chevron-left icon-white\"></i> Zur Startseite")), billboards_path , :class => "btn btn-primary"  %>
