<div class="span12">
		<div class="well">
			<h3>Quellen</h3>
			
			<p>
				Im Folgenden sind alle externen Quellen, welche für das Erstellen der Plattform Locommun verwendet wurden, aufgelistet. 
			</p>
			
			<h4>Titelbilder (von links nach rechts):</h4>
			
			<h5>Foto 1 (Lizenz CC BY-SA 2.0):</h5>
			<p>Kochtopf: Foto von vmiramontes unter <a href="http://www.flickr.com/photos/vmiramontes/4749614836/sizes/m/in/photostream/">http://www.flickr.com/photos/vmiramontes/4749614836/sizes/m/in/photostream/</a> , Lizenz CC BY 2.0</p>
			<p>Mikrofon:  © Lilian Hung, alle Rechte vorbehalten.</p>
			<p>Stricken: Foto von elitatt unter <a href="http://www.flickr.com/photos/elitatt/4338075247/sizes/m/in/photostream/">http://www.flickr.com/photos/elitatt/4338075247/sizes/m/in/photostream/</a> , Lizenz CC BY 2.0</p>
			<p>Dartbrett: Foto von Richard_of_England unter <a href="http://www.flickr.com/photos/richardofengland/6788829651/sizes/m/in/photostream/">http://www.flickr.com/photos/richardofengland/6788829651/sizes/m/in/photostream/</a> , Lizenz CC BY 2.0</p>
			<p>Fussball: Foto von  tom@hk | 湯米tomhk unter <a href="http://www.flickr.com/photos/gracewong/125726557/sizes/m/in/photostream/">http://www.flickr.com/photos/gracewong/125726557/sizes/m/in/photostream/</a> , Lizenz CC BY 2.0</p>
			<p>Billard: Foto von tangi_bertin unter <a href="http://www.flickr.com/photos/tangi_bertin/250945089/sizes/m/in/photostream/">http://www.flickr.com/photos/tangi_bertin/250945089/sizes/m/in/photostream/</a> , Lizenz CC BY-SA 2.0</p>
			<p>Tanzen: © Lilian Hung, alle Rechte vorbehalten.</p>
			<p>Pinsel: Foto von DoodleDeMoon unter <a href="http://www.flickr.com/photos/justsketchy/6792596711/sizes/m/in/photostream/">http://www.flickr.com/photos/justsketchy/6792596711/sizes/m/in/photostream/</a> , Lizenz CC BY 2.0</p>


			<h5>Foto 2 (Lizenz CC BY-SA 2.0):</h5>
			<p>Trompeten: Foto von purpleslog unter <a href="http://www.flickr.com/photos/purpleslog/2991158591/sizes/m/in/photostream/">http://www.flickr.com/photos/purpleslog/2991158591/sizes/m/in/photostream/</a> , Lizenz CC BY 2.0</p>
			<p>Skater: Foto von mikebaird unter <a href="http://www.flickr.com/photos/mikebaird/7503552146/sizes/m/in/photostream/">http://www.flickr.com/photos/mikebaird/7503552146/sizes/m/in/photostream/</a> , Lizenz CC BY 2.0</p>
			<p>Fussballteam: Foto von Jason Gulledge unter <a href="http://www.flickr.com/photos/ramdac/500199270/sizes/m/in/photostream/">http://www.flickr.com/photos/ramdac/500199270/sizes/m/in/photostream/</a> , Lizenz CC BY 2.0</p>
			<p>Musiker: © Lilian Hung, alle Rechte vorbehalten.</p>
			<p>Pyramide: Foto von rkramer62 unter <a href="http://www.flickr.com/photos/rkramer62/4781622634/sizes/m/in/photostream/">http://www.flickr.com/photos/rkramer62/4781622634/sizes/m/in/photostream/</a> , Lizenz CC BY 2.0</p>
			<p>Spieleabend: Foto von TalAtlas unter <a href="http://www.flickr.com/photos/talatlas/2335765927/sizes/m/in/photostream/">http://www.flickr.com/photos/talatlas/2335765927/sizes/m/in/photostream/</a> , Lizenz CC BY-SA 2.0</p>
			<p>Umarmung: Foto von pushthisbutton unter <a href="http://www.flickr.com/photos/jorislouwes/6904269921/sizes/m/in/photostream/">http://www.flickr.com/photos/jorislouwes/6904269921/sizes/m/in/photostream/</a> , Lizenz CC BY 2.0</p>
			<p>Stricken: Foto von Todd Huffman unter <a href="http://www.flickr.com/photos/oddwick/538448710/sizes/m/in/photostream/">http://www.flickr.com/photos/oddwick/538448710/sizes/m/in/photostream/</a> , Lizenz CC BY 2.0</p>
		
			<h5>Foto 3 (Lizenz CC BY-SA 2.0):</h5>
			<p>Handabdrücke: Foto von mrkumm unter <a href="http://www.flickr.com/photos/mkumm/2447057081/sizes/m/in/photostream/">http://www.flickr.com/photos/mkumm/2447057081/sizes/m/in/photostream/</a> , Lizenz CC BY 2.0</p>
			<p>Kinder: Foto von epSos.de unter <a href="http://www.flickr.com/photos/epsos/4929687589/sizes/m/in/photostream/">http://www.flickr.com/photos/epsos/4929687589/sizes/m/in/photostream/</a> , Lizenz CC BY 2.0</p>
			<p>Handgeben: Foto von Broad Bean Media unter <a href="http://www.flickr.com/photos/broadbeanmedia/8103976340/sizes/m/in/photostream/">http://www.flickr.com/photos/broadbeanmedia/8103976340/sizes/m/in/photostream/</a> , Lizenz CC BY-SA 2.0</p>
			<p>Kinderhände: Foto von Yorick_R unter <a href="http://www.flickr.com/photos/yorickr/4510425531/sizes/m/in/photostream/">http://www.flickr.com/photos/yorickr/4510425531/sizes/m/in/photostream/</a> , Lizenz CC BY 2.0</p>
			<p>Handkreis: Foto von rosmary unter <a href="http://www.flickr.com/photos/rvoegtli/5922419469/sizes/m/in/photostream/">http://www.flickr.com/photos/rvoegtli/5922419469/sizes/m/in/photostream/</a> , Lizenz CC BY 2.0</p>
		
		</div>
		<%= link_to (raw ("<i  class=\"icon-chevron-left\"></i> Zur Startseite")), billboards_path , :class => "btn"  %>
</div>